<div class="container mt-5">
  <h1 class="text-center">
    Utilidades genéricas que nos pueden servir en un futuro
  </h1>
  <div class="text-center mt-5 border border-4 rounded p-4 animat fondo">
    <p>
      Fondos animados para crear paginas web muy dinámicas
      <i class="bi bi-arrow-right"></i>
      <a href="https://animatedbackgrounds.me/" target="_blank"
        >Animated background</a
      >
    </p>
    <p class="mt-3">
      <b>Nuestro ejemplo </b>
      <i class="bi bi-arrow-right"></i>
      <a routerLink="/animatedbackground">Prueba de fondo de pantalla</a>
    </p>
  </div>

  <div class="text-center mt-5 border border-4 rounded p-4 animat fondo">
    <p>
      Muchos botones e input que pueden servir para un futuro
      <i class="bi bi-arrow-right"></i>
      <a href="https://uiverse.io/" target="_blank">Uiverse.io</a>
    </p>
    <p class="mt-3">
      <b>Nuestro ejemplo </b>
      <i class="bi bi-arrow-right"></i>
      <a routerLink="/UI">Prueba de botonos e imputs</a>
    </p>
  </div>
</div>
