<div class="container">
  <h1 class="text-center">PRUEBAS CON GRID</h1>
  <div class="row principal">
    <div class="col-4 align-items-center">
      <p>display: grid;</p>
      <p>grid-template-columns: 120px auto 120px;</p>
      <p>grid-template-rows: 200px auto 200px;</p>
    </div>
    <div class="col-8 padre">
      <div class="rojo"></div>
      <div class="azul"></div>
      <div class="negro"></div>
      <div class="amarillo"></div>
      <div class="naranja"></div>
      <div class="verde"></div>
    </div>
  </div>
</div>
