<div class="row text-center mt-5 border rounded p-3">
  <h2>CARDS</h2>
  <div class="col-4">
    <div class="input-group">
      <input
        required=""
        type="text"
        name="text"
        autocomplete="off"
        class="input"
      />
      <label class="user-label">First Name</label>
    </div>
  </div>
  <div class="col-4">
    <input
      type="text"
      name="text"
      class="input2"
      placeholder="Type your text"
    />
  </div>
  <div class="col-4">
    <div class="textInputWrapper">
      <input placeholder="Type Here" type="text" class="textInput" />
    </div>
  </div>
</div>
