<div class="row text-center mt-5 border rounded p-3">
  <h2>Toggle switches</h2>
  <div class="col-4">
    <label class="switch">
      <input type="checkbox" />
      <span class="slider"></span>
    </label>
  </div>
  <div class="col-4">
    <label class="switch2">
      <input type="checkbox" />
      <span class="slider2"></span>
    </label>
  </div>
  <div class="col-4">
    <label class="switch3">
      <input type="checkbox" />
      <span class="slider3"></span>
    </label>
  </div>
</div>
